<div class="dialog-footer flexrow">
  <button type="button" class="cpr-dialog-button" data-action="confirm" autofocus>
    <i class="fas fa-check"></i> {{localize "CPR.dialog.common.confirm"}}
  </button>
  <button type="button" class="cpr-dialog-button" data-action="cancel">
    <i class="fas fa-xmark"></i> {{localize "CPR.dialog.common.cancel"}}
  </button>
</div>
